@font-face {
  font-family: ClashGroteskReg;
  src: url(./fonts/ClashGrotesk-Regular.otf);
}
@font-face {
  font-family: ClashGroteskBold;
  src: url(./fonts/ClashGrotesk-Bold.otf);
}
@font-face {
  font-family: ClashGroteskMed;
  src: url(./fonts/ClashGrotesk-Semibold.otf);
}
/* Your styles goes here. */

body {
  margin: 0;
  font-family: ClashGroteskReg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#46114D;
  font-size: 28px;
}
h1 {
  color:#fff;
  font-size:6rem;
  font-family: ClashGroteskMed;
  margin:0;
  line-height: 1.1em;
}
h2 {
  margin:0;
}
.App {
  height: 100vh;
  background-color: #160d0d;
  text-align: center;
}

p {
  margin: 0;
}

.container {
  min-height: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  background:#46114D;
  color:#fff;
  position: fixed;
  top:0;
  z-index: 100;
  width:100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.title {
  font-family: ClashGroteskBold;
  font-size:2.2rem;
  text-align: left;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.justify-end {
  justify-content: flex-end;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.05em;
    font-size: 1.1rem;
    background: #222;
    color: #fff;
    padding: 1rem 1.25rem;
    align-items: center;
    border-radius: 50px;
    font-family: ClashGroteskMed;
    border:1px solid #222;
}
.main-container-wrapper {
  position:relative;
  overflow: hidden;
}
.main-container-wrapper::before {
  content:"";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(20, 1, 1, 0.1);
  z-index: 1;
}

.main-container-wrapper video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.main-container.flex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:100px;
  /*background: linear-gradient(135deg, #3b5a70, #223b58, #5c799d, #888aee, #d3a686);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;*/
    min-height:80vh;
    z-index: 2;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

.main-container .flex-item.left{
  width: 50%;
  text-align: left;
  color:#fff;
}
.main-container .flex-item.left button {
  margin-left: 40px;
  transform: translateY(-20px);
}
.main-container .flex-item.left h1 {
  white-space: nowrap;
}
.main-container .flex-item.right p {
  font-size: 3rem;
  text-align: left;
  color:#fff;
  text-shadow: 0 0 20px rgb(0 0 0 / 25%);
}
.main-container .flex-item.right {
  /*perspective: 300px;*/
  padding-left:5%;
  width:45%;
}
.main-container .flex-item.right img {
  margin-top: 0px;
    box-shadow: rgb(45 21 71 / 20%) 30px 20px 35px;
    transform: translateY(30px) translateZ(50px) rotate(2deg) rotateX(2deg) rotateY(-2deg) translateZ(0px);
    object-fit: cover;
    vertical-align: middle;
    border-radius: 24px;
    opacity: 1;
}
.content-container {
  background-color: #46114D;
}

.cta-button {
  width: auto;
  color: white;
  border: 1px solid white;
}
button {
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.5rem;
  transition: .3s background-color, .3s border;
  border-radius: 50px;
  font-family: ClashGroteskMed;
  padding: 1rem 1.8rem;
}
.connect-wallet-button {
  /*background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;*/
    font-size: 1.3rem;
    background-color: rgb(233, 174, 12);
    color: #46114D;
    align-items: center;
    border: 2px solid #222;
}
.connect-wallet-button:hover {
  background-color:transparent;
  border: 2px solid #fff;
}
.connect-wallet-container {
  color:#fff;
  text-align: left;
  /*transform: translateY(-25px);*/
}
.mint-button {
  font-size: 1rem;
  padding: 0.8rem 1.8rem;
    background-color: rgb(233, 174, 12);
    color: #fff;
    align-items: center;
    border: 2px solid #46114D;
    margin:0 10px;
}
.button-container{
  margin-top:20px;
}
.mint-button:hover {
  background-color: transparent;
  border:2px solid #fff;
}
.mint-button:disabled {
  background: rgba(118,123,255,0.3);
  color: rgba(255,255,255,0.7);
  cursor: not-allowed;
}

.mint-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button {
  border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    top: 20px;
    border: 0px;
    font-size: 12px;
    background-color: transparent;
    padding:0;
}

.edit-icon {
  margin-top: 3px;
  width: 16px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 0;
  background:#222;
}

.footer-container a {
  text-decoration: none;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  color: #222;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  border-color: rgba(255, 255, 255, 0.3);
  padding: 0.8rem 1rem;
  border-radius: 4px;
  font-size: 1.5rem;
  width: 700px;
}

input::placeholder {
  color: #222;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.first-row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  width:100%;
}

.tld {
  position: absolute;
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
  right: 22px;
  margin: 0;
  padding: 0;
  top: 17px;
}

.mint-list {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mint-item {
  display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 15px;
    font-size: 1.1rem;
    background-image: linear-gradient(to bottom right, #f8f8ff, #ECEDFF);
    border: 8px solid #fff;
    color: #222;
    min-width: 150px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 20%);
}
/* Different background-colour for every nth mint-item */
.mint-item:nth-child(2n) {
  background-image: linear-gradient(to bottom right, #9889D7, #FED7A6);
}

.mint-item:nth-child(3n) {
  background-image: linear-gradient(to bottom right, #ADB0FF, #D6EAF2);
}

.mint-item:nth-child(4n) {
  background-image: linear-gradient(to bottom right, #FFFFFF, #FBEFE1);
}

.link {
  color: black;
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}

.underlined:hover {
  cursor: pointer;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.record {
  position: relative;
  width: 100%;
  display: flex;
}

.record::before {
  color:#fff;
  /*position: absolute;
  top: 25%;
  left: -140px;*/
  margin-right: 10px;
  width:20%;
  text-align: right;
  content:"";
}

.record input {
    color: #222;
    text-align: left;
}

#addr::before {
  content: 'Address : ';
}

#desc::before {
  content: 'Description : ';
}

#email::before {
  content: 'Email : ';
}

#website::before {
  content: 'Website : ';
}

#avatar::before {
  content: 'Avatar URL : ';
}

#twitter::before {
  content: 'Twitter : ';
}

.readonly {
  color: rgb(221, 221, 221);
}

.avatar {
  width: 270px;
  background:#fff;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow: 0 5px 30px rgb(59 130 246 / 15%);
}
.background-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  padding-top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #46114D;
  background-image: url(./img/bottom.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: repeat;
}
.mint-container {
  position: relative;
  padding: 50px 0;
  color:rgb(233, 174, 12);
}
.mint-contents h2 {
  font-family: ClashGroteskMed;
  line-height: 1.1em;
}
.mint-contents{
  z-index: 2;
  position: relative;
}
@media only screen and (max-width: 1599px) {
  .main-container.flex{
    padding: 60px 50px;
    padding-top:130px;
  }
  h1 {
    font-size: 5rem;
  }
  .main-container .flex-item.right p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 980px) {
  header {
    padding:1rem;
  }
  .title {
    font-size: 2rem;
  }
  .main-container.flex {
    padding:30px;
    padding-bottom:70px;
    min-height:75vh;
  }
  h1 {
    font-size: 5rem;
  }
  .main-container .flex-item.right p {
    font-size: 1em;
  }
  .main-container .flex-item.left,.main-container .flex-item.right {
    width: 100%;
    padding:0;
  }
  .header-container {
    position: relative;
  }
  .main-container.flex {
    flex-wrap: wrap;
    padding-bottom:30px;
  }
  .main-container .flex-item.left button {
    transform:translateY(-10px);
  }
  .form-container {
    width: 100%;
  }
  input {
    max-width: 650px;
  }
  .record::before {
    width:30%;
  }
}
@media only screen and (max-width: 767px) {
  .main-container .flex-item.left button {
    margin-left:0;
    transform:translateY(0px);
    margin-top:20px;
  }
  h1 {
    font-size: 3.3rem;
  }
  input {
    width: 100%;
    font-size: 1.3rem;
  }
  .connect-wallet-button,button,.mint-button {
    font-size: 1.2rem;
  }
  .mint-button{
    margin:5px 10px;
  }
  .main-container .flex-item.left h1 {
    white-space: normal;
  }
  .record {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .record::before {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
  }
  .mint-contents h2 {
    font-size: 1.9rem;
  }
}